################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EncryptionShlExt/x64/Debug
x64/Debug/EncryptionShlExt.dll
/x64/Debug
/EncryptionShlExt/EncryptionShlExt.vcxproj.user
